#text {
  display: none;
}

.form {
  margin: 0 auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div {
    display: flex;
    flex-direction: column;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  button {
    width: 50px;
    height: 25px;
    margin: 0 auto;
    margin-top: 4%;
  }
  label {
    margin: 0 auto;
  }
}








.doctorInfo {
  width: 80%;
  margin: 0 auto;
  margin-top: 9%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    max-width: 400px;
    width: 80%
  }
  p {
    color: black;
    font-size: 20px;
  }
}
